In [20]:
from utils import matrix
from models import ols
import pandas as pd

In [21]:
df=pd.read_csv('./example/data/train.csv')

In [22]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [23]:
x=df[['TotalBsmtSF','1stFlrSF','BedroomAbvGr','GrLivArea']]

In [24]:
y=df[['SalePrice']]

In [25]:
x=x.values.tolist()

In [26]:
y=y.values.tolist()

## Fitting a model

In [27]:
model1=ols()

In [28]:
model1.fit(x,y,use_constant=True)

In [29]:
model1.beta_vector

|-7.917104335481774e+22,|
|7.487122966073264e+19,|
|-6.2561241708711215,|
|-19025.596634861657,|
|101.55656198770647,|

In [30]:
model1.constant

[-7.917104335481774e+22]

In [31]:
model1.coefficients

[[7.487122966073264e+19],
 [-6.2561241708711215],
 [-19025.596634861657],
 [101.55656198770647]]